@page "/dashboard"
@layout MainLayout

@inject BisleriumCafe.Data.Repositories.Repository<Spare> SpareRepository;
@inject BisleriumCafe.Data.Repositories.Repository<ActivityLog> ActivityLogRepository;

<!-- Container for the dashboard content -->
<MudContainer>

    <!-- Display the total sales -->
    <h3>Total Sales: @TotalTransactions</h3>

    <!-- Chart to visualize data -->
    <Chart Class="pa-4" Config="Config" Height="calc(100vh - 64px)"></Chart>

</MudContainer>
